DATABASE_URL_MYSQL="mysql://<db_user>:<db_password>@127.0.0.1:3306/visipass"
DATABASE_URL_POSTGRES="postgresql://<db_user>:<db_password>@127.0.0.1:5432/visipass?schema=public"
JWT_SECRET="<your_jwt_secret>"
